*{
    padding:0;
    margin:0;
}
.row::after,
#content::after,
#header::after{
    content:"";
    display:block;
    clear:both;
}
#logo{
    background-color:red;
    height:80px;
    width:24%;
    float:left;
}
#navbar{
    background-color: blue;
    height:80px;
    width:75%;
    float:right;
}
#content{
    margin-top: 10px;
}
#left-panel{
    width:24%;
    height:620px;
    background-color: rgb(255, 0, 195);
    float:left;
}
#right-panel{
    width:75%;
    float:right;
}
#big-box{
    height:300px;
    width:317px;
    background-color: yellow;
    float:left;
}
.grid{
    width:150px;
    height:145px;
    background-color: pink;
    float:left;
    margin-bottom:10px;
}
.top-grid{
    margin-left:20px;
}
.bottom-grid{
    margin-left:20px;
}
.bottom-row{
    margin-top:10px;
}
